.text-checker {
  background: linear-gradient(to right, rgba(246,43,122,1), rgba(112,64,120,1));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textarea {
  background: #fff;
  color: #6e6e6e;
  width: 50%;
  min-height: 25rem;
  padding: 3rem 2rem;
  border-radius: 5px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
p {
  color: #000;
  margin-bottom: 3rem;
}
.form-control {
  width: 95%;
}